@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
html, body {
  height: 100%;
}

.title {
  margin-bottom: 1rem;
}
@media screen and (min-width: 500px) {
  .title {
    margin-bottom: 2rem;
  }
}

.modal-content {
  background-color: #faedcd !important;
}

.modal-header {
  color: #d4a373;
  border-bottom: 1px solid #d4a373 !important;
}

.modal-body .MuiInputBase-input {
  color: #d4a373 !important;
}
.modal-body .MuiFormLabel-root {
  color: #d4a373 !important;
}
.modal-body .customTextField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #d4a373 !important;
  color: #d4a373 !important;
}
.modal-body .textFieldInput {
  color: red !important;
}
.modal-body .textFieldInput ::placeholder {
  color: red !important;
}

.modal-footer {
  border-top: 1px solid #d4a373 !important;
}

.dangeroutline--button {
  padding: 0.2rem;
  font-size: 0.8rem;
  background-color: darkred;
  cursor: pointer;
  border: 2px solid white;
  font-weight: 600;
  margin: 0.2rem;
}
@media screen and (min-width: 500px) {
  .dangeroutline--button {
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 700;
  }
}

.button-darker {
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: #b8865e;
  cursor: pointer;
  border: 2px solid #ccd5ae;
  color: #fefae0;
  border-radius: 5px;
  font-weight: 600;
  margin: 0.2rem;
}

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.editoutline--button {
  padding: 0.2rem;
  font-size: 0.8rem;
  background-color: darkgreen;
  cursor: pointer;
  border: 2px solid white;
  font-weight: 600;
  margin: 0.2rem;
}
@media screen and (min-width: 500px) {
  .editoutline--button {
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 700;
  }
}

.pagination {
  margin-top: 1rem;
  text-align: center;
  width: 300px;
  display: flex;
  justify-content: center;
}
.pagination--number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.pagination--select {
  background-color: transparent;
  margin-left: 1rem;
  color: #fefae0;
  cursor: pointer;
}
.pagination--button {
  padding: 0.4rem;
  border: 1px solid white;
  background-color: transparent;
  margin-right: 0.3rem;
  cursor: pointer;
  color: #fefae0;
}

.async_select {
  margin-bottom: 1rem;
}

.search_table {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.errors {
  text-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #faedcd;
}

#root {
  width: 100%;
  background-color: #d4a373;
  min-height: 102vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem 1rem 1rem;
}

.standard-button {
  padding: 0.5rem 1rem 0.5rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.textfield__label {
  color: white !important;
}

.textfield__input {
  margin-bottom: 2rem !important;
  width: 100%;
  color: white !important;
}
.textfield__input fieldset {
  border-color: white !important;
  color: white !important;
}
.textfield__input fieldset:hover {
  border-color: white !important;
}

.greenoutline--button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid #ccd5ae;
  color: #e9edc9;
  font-weight: 700;
  border-radius: 10px;
}
.greenoutline--button--mb {
  margin-bottom: 1rem;
}

.button--mr {
  margin-top: 0;
}

.greenoutline--button:hover {
  background-color: #dab087;
}

button {
  background-color: #d4a373;
}

.cdost {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cdost__buttons {
  display: flex;
  justify-content: center;
}
.cdost__question-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: flex-start;
}
.cdost__question {
  font-size: 1.3rem;
  width: 40%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 2px solid #e9edc9;
  border-radius: 15px;
}
.cdost__text {
  overflow-wrap: normal;
  padding: 1rem;
  background-color: #b8865e !important;
  font-size: 1.2rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 2rem;
}
.cdost__options {
  width: 40%;
}
.cdost__option {
  background-color: #b8865e !important;
  padding: 1rem;
  text-align: center;
  margin-bottom: 0.4rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.cdost__option--correct {
  background-color: #d4edda !important;
  border-color: #28a745 !important;
  color: #155724 !important;
}
.cdost__option--incorrect {
  background-color: #f8d7da !important;
  border-color: #dc3545 !important;
  color: #721c24 !important;
}
.cdost__option--selected {
  background-color: #e9edc9 !important;
  color: #b8865e !important;
}
.cdost__option:hover {
  color: #ccd5ae;
}
.cdost__description {
  overflow-wrap: normal;
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cdost__content {
  width: 80%;
}
@media screen and (min-width: 1200px) {
  .cdost__content {
    width: 60%;
  }
}

/*# sourceMappingURL=choose_exercise_depends_on_single_text.css.map */
