@use '../variables';
@import '../../main.scss';

.conjugation-exercise {
  display: flex;
  justify-content: center;

  &__feedback{
    &--incorrect{
      font-size:1rem;
      color: #721c24 !important;
      strong{
        color: #721c24 !important;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    width: 80%;
    @include breakpoint("desktop") {
      width: 60%;
    }
  }
  &__name{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__rowscontainer {
    width: 100%;
    padding: 1rem;
    background-color: variables.$button-bg !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
  }

  &__input {
    padding: 5px;
    border: 2px solid #ccd5ae;
    font-size: 1rem;
    background-color: transparent;
    color: #faedcd;
    cursor: pointer;
    align-self: flex-start;
    font-weight: 600;
    &--correct{
      background-color: #d4edda !important;
      //border-color: #28a745 !important;
      color: #155724 !important;
    }
    &--wrong {
    background-color: #f8d7da !important;
      text-decoration: line-through #721c24;
    //border-color: #dc3545 !important;
    color: #721c24 !important;
}

    &:disabled{
      background-color: variables.$color-bg-dark;
      cursor: default;
    }
    &:focus {
      outline: 1.4px solid variables.$color-bg-green-light;
      //outline: #00A000;
      //border-color: blue;
      //outline: none;
    }

  }

  &__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  &__person-label {
    margin-right: 2rem;


  }
}
