@use '../variables';
@import '../../main.scss';
.fitewc{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__image{
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    max-width: 200px;
    img{
      height: 150px;
      width: 100%;
      display: block;
    }
  }
  &__description{
    background-color: variables.$color-bg-dark !important;
    border-top: 2px solid variables.$color-bg-green-light;
    border-left: 2px solid variables.$color-bg-green-light;
    border-right: 2px solid variables.$color-bg-green-light;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    padding: 1rem;
  }
  &__title{
    display: flex;
    justify-content: center;
  }
  &__content {
    width: 80%;
    @include breakpoint("desktop") {
      width: 60%;
    }
  }
  &__select{
    background-color: transparent;
    padding: 0.2rem;
    margin-bottom: 1rem;
    border: 1px solid variables.$color-bg-light;
    border-radius: 10px;
    cursor: pointer;
  }
  &__container{
    overflow-wrap: normal;
    background-color: variables.$button-bg !important;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  &__text{
    font-size: 1.4rem;
    line-height: 2;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem;
    &--content{
      line-height: 1.5;
    text-align: justify;
    }
  }

}
