@use '../variables';
@import '../../main.scss';

.matchexercise {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__description{
    background-color: variables.$color-bg-dark !important;
    border-top: 2px solid variables.$color-bg-green-light;
    border-left: 2px solid variables.$color-bg-green-light;
    border-right: 2px solid variables.$color-bg-green-light;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    padding: 1rem;
  }

  &__item{
    &__active{
      background-color: variables.$color-bg-green-light !important;
      color: variables.$button-bg !important;
      &:hover{
        color: variables.$button-bg;
      }
    }
  }

  &__selectcontainer {
    display:flex;
    flex-direction: column;
    background-color: variables.$button-bg;

    border-radius: 15px;
    min-width: 350px;
    width: 80%;
    @include breakpoint("desktop") {
      width: 60%;
    }
  }

  &__sides {
    //max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 2rem;

  }

  &__leftside {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    &__item {
      display: flex;
      justify-content: center;
      background-color: variables.$button-bg-lighter;
      padding: 0.5rem;
      margin-bottom: 1rem;
      cursor: pointer;
      border-radius: 15px;
      font-size: 1.5rem;
      border: 2px solid variables.$color-bg-light;
      img{
        height: 60px;
        width: 107px;
      }
      //color: white;
      &:hover{
        color: variables.$color-bg-light;
      }
    }
  }

  &__rightside {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: end;
    display:flex;
    flex-direction: column;
    img{
        height: 60px;
        width: 107px;
      }

    &__item {
      display: flex;
      justify-content: center;
      background-color: variables.$button-bg-lighter;
      padding: 0.5rem;
      margin-bottom: 1rem;
      cursor: pointer;
      border-radius: 15px;
      font-size: 1.5rem;
      border: 2px solid variables.$color-bg-light;

      //color: white;
      &:hover{
        color: variables.$color-bg-light;
      }
    }
  }
  &__selectedcontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    &__items{
      display:flex;
      flex-direction: column;
    }
    &__item{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__leftitem{
      justify-content: center;
      background-color: variables.$button-bg-lighter;
      padding: 0.5rem;
      margin-bottom: 1rem;
      cursor: pointer;
      border-radius: 15px;
      font-size: 1.5rem;
      margin-right: 0.5rem;
      border: 2px solid variables.$color-bg-light;
      &--correct{
        //background-color: #d4edda !important;
        border: 3px solid #28a745;
        //border-color: #28a745 !important;
      }
      &--incorrect{
        //background-color: #f8d7da !important;
        border: 3px solid #dc3545
        //border-color: #dc3545 !important;
      }
      img{
        height: 60px;
        width: 107px;
      }

      //color: white;

    }
    &__rightitem{
      justify-content: center;
      background-color: variables.$button-bg-lighter;
      padding: 0.5rem;
      margin-bottom: 1rem;
      cursor: pointer;
      border-radius: 15px;
      font-size: 1.5rem;
      border: 2px solid variables.$color-bg-light;;
      &--correct{
        border: 3px solid #28a745;
      }
      &--incorrect{
        border: 3px solid #dc3545
      }
      img{
        height: 60px;
        width: 107px;
      }
    }
  }
}
