@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
html, body {
  height: 100%;
}

.title {
  margin-bottom: 1rem;
}
@media screen and (min-width: 500px) {
  .title {
    margin-bottom: 2rem;
  }
}

.modal-content {
  background-color: #1c1c1a !important;
}

.dangeroutline--button {
  padding: 0.2rem;
  font-size: 0.8rem;
  background-color: darkred;
  cursor: pointer;
  border: 2px solid white;
  font-weight: 600;
  margin: 0.2rem;
}
@media screen and (min-width: 500px) {
  .dangeroutline--button {
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 700;
  }
}

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.editoutline--button {
  padding: 0.2rem;
  font-size: 0.8rem;
  background-color: darkgreen;
  cursor: pointer;
  border: 2px solid white;
  font-weight: 600;
  margin: 0.2rem;
}
@media screen and (min-width: 500px) {
  .editoutline--button {
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 700;
  }
}

.pagination {
  margin-top: 1rem;
  text-align: center;
  width: 300px;
  display: flex;
  justify-content: center;
}
.pagination--number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.pagination--select {
  background-color: transparent;
  margin-left: 1rem;
}
.pagination--button {
  padding: 0.4rem;
  border: 1px solid white;
  background-color: transparent;
  margin-right: 0.3rem;
  cursor: pointer;
}

.async_select {
  margin-bottom: 1rem;
}

.search_table {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.errors {
  text-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  background-color: #d4a373;
  min-height: 102vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem 1rem 1rem;
}

.standard-button {
  padding: 0.5rem 1rem 0.5rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.textfield__label {
  color: white !important;
}

.textfield__input {
  margin-bottom: 2rem !important;
  width: 100%;
  color: white !important;
}
.textfield__input fieldset {
  border-color: white !important;
  color: white !important;
}
.textfield__input fieldset:hover {
  border-color: white !important;
}

.greenoutline--button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid #ccd5ae;
  color: #e9edc9;
  font-weight: 700;
  border-radius: 10px;
}

.greenoutline--button:hover {
  background-color: rgb(217.9918032787, 175.8196721311, 134.5081967213);
}

button {
  background-color: #d4a373;
}

.MuiInputBase-input {
  color: #fefae0 !important;
}

.customTextField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #ccd5ae !important;
  color: #ccd5ae !important;
}

.customTextField {
  width: 100%;
}

.textFieldInput {
  color: #ccd5ae !important;
}
.textFieldInput ::placeholder {
  color: #ccd5ae !important;
}

.account {
  min-width: 280px;
}
.account__button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.account__title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #fefae0;
  font-family: "Playfair Display", serif;
}
.account__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}
.account__options--button {
  padding: 0.4rem 1rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  white-space: normal;
  width: 140px;
}
@media screen and (min-width: 500px) {
  .account__options--button {
    width: 170px;
  }
}
.account__options--input {
  width: 140px;
}
@media screen and (min-width: 500px) {
  .account__options--input {
    width: 170px;
  }
}
.account__form {
  padding-left: 0.5rem;
  width: 400px;
}
.account__form--textfield {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.account__form--remove {
  color: rgb(138, 224, 1);
  text-decoration: underline;
  cursor: pointer;
}
.account__form--reset {
  color: rgb(138, 224, 1);
  text-decoration: underline;
  cursor: pointer;
}
.account__header--title {
  display: flex;
  justify-content: center;
}

.form__message {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.form__error {
  color: #9d0208;
}

.reset_password {
  min-width: 280px;
}
.reset_password__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reset_password__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

/*# sourceMappingURL=account.css.map */
