@use 'variables';
@import '../main.scss';


.MuiInputBase-input {
  color: variables.$color-text-primary !important;
}

.customTextField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: variables.$color-bg-light !important;
  color: variables.$color-bg-light !important;
}

.customTextField {
  width: 100%;
}

.textFieldInput {
  color: variables.$color-bg-light !important;

  ::placeholder {
    color: variables.$color-bg-light !important;
  }
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  &__section{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  min-width: 350px;
  &__image{
    display:none;
    @include breakpoint("laptop") {
    width: 50%;
    display:flex;
    justify-content: center;
    align-content: center;
      img{
      height: 400px;
    }
      @include breakpoint("desktop") {
        min-width: 600px;
        img{
      height: 600px;
    }
      }
      }
  }

  &__button{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  &__title {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: variables.$color-text-primary;
    font-family: variables.$font-heading;
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    height: 400px;
  }

  &__options {
    &--button {
      padding: 0.4rem 1rem;
      font-weight: 800;
      border: none;
      border-radius: 10px;
      white-space: normal;
      width: 140px;
      color: variables.$color-text-primary;
      @include breakpoint("mobilebig") {
        width: 170px;
      }
    }

    &--input {
      width: 140px;
      @include breakpoint("mobilebig") {
        width: 170px;
      }
    }
  }

  &__form {

    padding-left: 0.5rem;
    width: 400px;
    color: variables.$color-bg-medium;
    font-size: 1.1rem;

    &--textfield {
      margin-bottom: 1rem;
      margin-top: 1rem;

    }

    &--remove {
      //color: rgb(138, 224, 1);
      text-decoration: underline;
      cursor: pointer;
      color: variables.$color-bg-light;
      font-weight: 600;
      font-size: 1.2rem;
    }

    &--reset {
      //color: rgb(138, 224, 1);
      //text-decoration: underline;
      font-weight: 600;
      cursor: pointer;
      color: variables.$color-bg-light;
      font-size: 1.2rem;
    }
  }

  &__header {
    &--title {
      display: flex;
      justify-content: center;
      color: variables.$color-text-primary;
      font-family: variables.$font-heading;
    }
  }
}

.form {
  &__message {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }

  &__error {
    color: variables.$color-text-error;
  }
}

.reset_password {
  min-width: 280px;
  &__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
  }
}


