@use "variables";
@import '../main.scss';

.addfile {
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  &__container{
    color: variables.$color-text-primary;
    .title{
      font-family: variables.$font-heading;
    }
  }
    &__image{
    display:none;

    @include breakpoint("laptop") {
    width: 50%;
    display:flex;
    justify-content: center;
    align-content: center;
      img{
      height: 500px;
    }
      @include breakpoint("desktop") {
        min-width: 600px;
        img{
      height: 600px;
    }
      }
      }
  }

  &__example{
    border: 1px solid white;
  }


  &__dropzone {
    @include breakpoint("laptop") {
      width: 600px;
    }
    padding: 2rem;
    border: 1px solid white;
    cursor: pointer;
  }

  &__fieldname {
    ul li::marker {
      padding-left: 0;
      list-style-type: none;
    }
  }
}
