@use 'variables';
@import '../main.scss';
.words {
  &__learn {
    color: variables.$color-text-primary;
  }

  &__wrong {
    color: red;
  }

  &__correct {
    color: green;
  }

  &__all {
    color: white;
  }
}

.decks {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  color: variables.$color-text-primary;

  &__section{
    display:flex;

  }
  .content.open{
    border: 1px solid variables.$color-bg-green-light;
  }

  &__image{
    display:none;
      @include breakpoint("desktop") {
        width: 50%;
        display:flex;
        justify-content: center;
        align-content: center;
        min-width: 600px;
        img{
      height: 600px;
    }
      }
  }
  &__container{
    display:flex;
    flex-direction: column;
    &__title{
      font-family: variables.$font-heading;
      color: variables.$color-text-primary;
      display:flex;
      justify-content: center;
    }
  }



  &__error{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: variables.$color-bg-medium;
  }
  &__searchcontainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    width: 100%;

    input{
      padding: 5px;
      border: 2px solid variables.$color-bg-light;
      font-size: 1rem;
      background-color: transparent;
      color: variables.$color-bg-medium;
    }
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    &--info{
      display:flex;
      justify-content: center;
    }
    &--name{
      height: 100%;
      cursor: pointer;
    }
    table, th, td {
      border: 1px solid variables.$color-bg-light;
      border-collapse: collapse;
    }
  }
}


.dropdown button {
  //background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}
.container {
  position: relative;
}
.dropdown{
  &__element{
    background-color: variables.$color-bg-dark;
    border-bottom: 2px solid variables.$color-bg-light;
    cursor: pointer;
  }
  &__button{
    width:100%;
  }
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px black;
  top: 100%;
  border:2px solid white;
}
.content.open{
  display:block;
  z-index: 99;
}

.content{
  right: 0%;
}

button.pagination--button{
  border: 1px solid variables.$color-bg-light;
}

select.pagination--select {
  border: 1px solid variables.$color-bg-light;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  transition: box-shadow 0.2s, border 0.2s;
}

select.pagination--select:focus {
  border-color: variables.$color-bg-light;
  box-shadow: 0 0 5px variables.$color-bg-green-light;
  outline: none;
}
