@use 'variables';
@import '../main.scss';
.groupexercises {
  display:flex;
  flex-direction: row;
  &__items{
    max-width: 600px;
    width: 100%;
  }
  &__title{
    //font-size: 2rem;
    display:flex;
    justify-content: center;
  }
  &__image {
    display: none;
    @include breakpoint("laptop") {
      width: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
      min-width: 500px;
      img {
        height: 500px;
      }
    }
  }
  &__container{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    @include breakpoint("laptop") {
      width: 50%;
    }
  }
}

.grp{
  &__title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    &__icon .rotate {
    transform: rotate(180deg);
}
    &__icon svg {
    transition: transform 0.3s ease;
}
  }
  &__level{
    &__container{
        font-size: 2rem;
        font-family: variables.$font-heading;
        border-bottom: 3px solid variables.$color-bg-medium;
        padding: 0.4rem;
        margin-top: 2rem;

    }

  }
  &__exercise{
    &__item{
      font-size: 1.4rem;
      padding: 0.4rem;
      border-bottom: 1px solid variables.$color-bg-light;
      &:hover{
        cursor: pointer;
        color: variables.$color-bg-light;
      }
    }
  }
}


.grp__title__icon .rotate {
    transform: rotate(180deg);
}
