@use "variables";
@import "settings.scss";

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: variables.$color-bg-dark;
  border-bottom: 2px solid variables.$color-bg-medium;
  text-decoration: none;
  font-family: variables.$font-navbar;
  z-index: 1000;
}



.navbar {

  &__desktop {
    display: none;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;

    @include breakpoint(laptop) {
      display: flex;
    }
  }
  &__select{
    background-color: variables.$color-bg-dark;
    color: variables.$color-text-primary;
    cursor: pointer;
  }
  &__mobile{
    position: sticky;
    display:flex;
    justify-content: space-between;
    height: 60px;
  }
  &__item{
    text-decoration: none;
    color: variables.$color-text-primary;
    :hover{
      cursor: pointer;
      color: variables.$color-bg-light;
    }
  }
}

.mobile{
  &__toggle{
    padding-left: 2rem;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: variables.$color-bg-medium;
    :hover{
      cursor: pointer;
    }
  }
  &__menu{
    margin-top:70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    z-index: 40;
    width:100%;
    padding: 0;
    &__element{
      border-bottom: 2px solid white;
      padding: 1rem;
      background-color: variables.$color-bg-dark;

    }
  }
  &__language {
    &--select {
      border: none;
      font-size: 1.2rem;
      margin-right: 2rem;
      color: variables.$color-text-primary;
    }

  }
  @include breakpoint(laptop) {
      display: none;
    }
}

.desktop {
  &__menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
  }
}

.menu {
  &__element {
    padding: 15px 15px 15px;
    font-size: 1.2rem;
    //color: variables.$color-text-primary;
  }

  &__language {
    &--select {
      border: none;
      font-size: 1.2rem;
      padding: 5px;
    }
  }
}

