nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #1c1c1a;
  padding-top: 10px;
}
.navbar__desktop{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.desktop{
  &__menu{
    display: flex;
    flex-direction: row;
    list-style-type: none
  }
}
.menu{
  &__element{
    padding: 15px 15px 15px;
  }
  &__language{
    &--select{
      border: none;
      font-size: 1.2rem;
      padding: 5px;
    }
  }
}

