@import '../main.scss';
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &__form{
    @include breakpoint("mobilebig") {
        width: 500px;
      }
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
  }

  &__container {
    margin-top: 2rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
  }
}
