@import '../main.scss';

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__submit {
    display: flex;
    justify-content: flex-end;
  }

  &__container {
    @include breakpoint("mobilebig") {
      width: 500px;
    }
    @include breakpoint("tablet") {
      width: 600px;
    }
  }
}
