@use 'variables';
@import '../main.scss';
.subgroup {
  display:flex;
  flex-direction: row;
  &__image {
    display: none;
    @include breakpoint("laptop") {
      width: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
      min-width: 500px;
      img {
        height: 500px;
      }
    }
  }
  &__container{
    display:flex;
    flex-direction: row;
    //width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  &__containers{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.sub{
  &__container{
    border: 2px solid variables.$color-bg-light;
    font-family: variables.$font-heading;
    border-radius: 10px;
    margin-top: 2rem;
    margin-right: 1rem;
    background-color: variables.$color-bg-medium;
    &:hover {
      cursor: pointer;
      color: variables.$color-bg-light;
      box-shadow: 0 0 5px variables.$color-bg-green-light;
      .sub__title {
        color: variables.$color-bg-light;
      }
    }
    img{
      width:250px;
      height: 150px;
    }
  }
  &__title{
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: variables.$color-bg-dark;
  }
}
