* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Upewnij się, że box-sizing jest ustawiony na border-box */
    color:white;
    background-color: #1c1c1a;
}

#root {
  width: 100%;
  background-color: #1c1c1a;
}
